:root {
  --main-background: #eaf6f6;
  --main-font: "Playfair Display", sans-serif;

  --secondary-font: "Poppins", sans-serif;
  --branding-color: #66bfbf;
}

p {
  font-size: 15px;
  font-family: var(--secondary-font);
  font-weight: normal;
}

.hero p {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.hero {
  background: var(--main-background);
  font-family: var(--main-font);
  text-align: center;
  padding: 160px 20px;
}
.hero h2 {
  font-family: var(--main-font);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
h1 {
  font-size: 90px;
  font-family: var(--main-font);
}
h2 {
  font-weight: normal;
  font-size: 40px;
  line-height: 2;
  font-family: var(--main-font);
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 5px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  font-family: var(--secondary-font);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 5px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-desciption {
  padding: 120px 60px;
}
.about-section {
  padding: 160px 20px;
}
.about-section h1 {
  font-size: 60px;
  line-height: 80px;
}

.about-section h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: var(--secondary-font);
}
.about-section-content {
  margin: 30px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }
  .hero p {
    font-size: 20px;
  }
  .project-desciption {
    padding: 0;
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .about-section h1 {
    font-size: 44px;
  }
  .about-section h2 {
    font-size: 15px;
  }
}
.logo-small,
.logo-main {
  max-height: 80px;
}
.link {
  text-decoration: none;
  display: block;
  margin: 20px auto;
}
nav {
  font-family: var(--main-font);
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
