:root {
  --main-background: #eaf6f6;
  --main-font: "Playfair Display", sans-serif;

  --secondary-font: "Poppins", sans-serif;
  --branding-color: #66bfbf;
}

p {
  font-size: 15px;
  font-family: var(--secondary-font);
  font-weight: normal;
}

h1 {
  font-size: 90px;
  font-family: var(--main-font);
}
h2 {
  font-weight: normal;
  font-size: 40px;
  line-height: 2;
  font-family: var(--main-font);
}
h3 {
  font-size: 40px;
}
h4 {
  font-family: var(--main-font);
}
nav {
  font-family: var(--main-font);
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background-color: var(--main-background);
  padding: 30px 120px;
  border-radius: 5px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 19px;
  font-family: var(--main-font);
}
footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 20px 0;
  color: var(--branding-color);
  background-color: var(--main-background);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 25px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: black;
  background: var(--main-background);
}
.hero p {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.hero {
  background: var(--main-background);
  font-family: var(--main-font);
  text-align: center;
  padding: 160px 20px;
}
.hero h2 {
  font-family: var(--main-font);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.content-container {
  padding: 60px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--secondary-font);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--secondary-font);
}
.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 5px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  font-family: var(--secondary-font);
}
.btn-branding:hover {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 5px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 5px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  background: var(--branding-color);
  border-radius: 5px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  font-family: var(--secondary-font);
}
.project-desciption {
  padding: 120px 60px;
}
.about-section {
  padding: 160px 20px;
}
.about-section h1 {
  font-size: 60px;
  line-height: 80px;
}

.about-section h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: var(--secondary-font);
}
.about-section-content {
  margin: 30px;
}

.logo-small,
.logo-main {
  max-height: 80px;
}
.link {
  text-decoration: none;
  display: block;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }
  h3 {
    font-size: 25px;
  }

  .hero {
    padding: 80px 20px;
  }
  .hero p {
    font-size: 20px;
  }
  .project-desciption {
    padding: 0;
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .about-section h1 {
    font-size: 44px;
  }
  .about-section h2 {
    font-size: 15px;
  }
}
